<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="MongoDatabaseName" value="CarDatabase" />
    <add key="MongoUsername" value="demouser" />
    <add key="MongoPassword" value="Pass@123" />
    <add key="MongoPort" value="27017" />
    <add key="MongoHost" value="localhost" />
  </appSettings>
</configuration>