<div class="col-lg-6">
    <h1 class="h1-strong">{{title}}</h1>

    <div class="alert alert-succes" *ngIf="status=='success'">
        Register completed correctly.
    </div>

    <div class="alert alert-danger" *ngIf="status=='error'">
        This vocabulary already exists.
    </div>

    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-lg-12">
        <p>
            <label>Name</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="vocabulary.name" class="
                form-control" required />
            <span *ngIf="!name.value && name.touched">
                It is required.
            </span>
        </p>

        <p>
            <label>Synonyms</label>
            <input type="text" name="synonyms" #synonyms="ngModel" [(ngModel)]="vocabulary.synonyms" class="
                    form-control" required />
            <span *ngIf="!synonyms.value && synonyms.touched">
                It is required.
            </span>
        </p>

        <p>
            <label>translate</label>
            <input type="text" name="translate" #translate="ngModel" [(ngModel)]="vocabulary.translate" class="
                        form-control" required />
            <span *ngIf="!translate.value && translate.touched">
                It is required.
            </span>
        </p>

        <p>
            <label>examples</label>
            <input type="text" name="examples" #examples="ngModel" [(ngModel)]="vocabulary.examples" class="
                            form-control" required />
            <span *ngIf="!examples.value && examples.touched">
                It is required.
            </span>
        </p>

        <p>
            <label>meanings</label>
            <input type="text" name="meanings" #meanings="ngModel" [(ngModel)]="vocabulary.meanings" class="
                                form-control" required />
            <span *ngIf="!meanings.value && meanings.touched">
                It is required.
            </span>
        </p>

        <p>
            <label>type</label>
            <input type="text" name="type" #type="ngModel" [(ngModel)]="vocabulary.type" class="
                                    form-control" required />
            <span *ngIf="!type.value && type.touched">
                It is required.
            </span>
        </p>

        <input type="submit" value="{{title}}" class="btn- btn-success" [disabled]="!registerForm.form.valid" />
    </form>
</div>